
#content{
	-webkit-perspective:600px;
}
section{
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	background: white;
	border: 1px solid red;
	padding: 0;
	margin: 0;
	position: relative;
	left: 0
}
.passed{
	left: -400px;
	background: yellow;
}
.inView{

	background: green;
}
.outside{
	left: -400px;
	background: red;
}